body {
    background-color: rgb(29, 30, 43);
  }
  main_title {
    color: powderblue;
  }
  gate_name {
    color: powderblue;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
  }
  gate_type {
    color: rgb(141, 170, 194);
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }
  .link_button {
    color: rgb(226, 244, 255);
    font-family: "Fira Sans", sans-serif;
    font-weight: 500; 
    font-style: normal;
    font-size: 30px; 
    text-decoration: none;
    text-align:center;
    float: left;
    outline: solid;
    outline-offset: -4px;
    margin-left: 5px;
    border-radius: 12px; 
    outline-color: rgb(189, 229, 255);
    padding: 6px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .link_button_curse {
    color: rgb(255, 194, 114);
    font-family: "Fira Sans", sans-serif;
    font-weight: 500; 
    font-style: normal;
    font-size: 30px; 
    text-decoration: none;
    text-align:center;
    float: left;
    outline: solid;
    outline-offset: -4px;
    margin-left: 5px;
    border-radius: 12px; 
    outline-color: rgb(255, 124, 36);
    padding: 6px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  link_open {
    color: rgb(190, 204, 214);
    font-family: "Fira Sans", sans-serif;
    font-weight: 500; 
    font-style: normal;
    font-size: 30px; 
    margin-left: 30px;
    text-decoration: none;
  }
  link_close {
    color: rgb(190, 204, 214);
    font-family: "Fira Sans", sans-serif;
    font-weight: 500; 
    font-style: normal;
    font-size: 30px; 
    text-decoration: none;
  }
  .gate_box {
    text-align:center;
    float: left;
    outline: double thick;
    outline-offset: -2px;
    margin-left: 30px;
    border-radius: 32px; 
    outline-color: rgb(108, 255, 182);
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .gate_video {
    width: 384px;
    border-radius: 32px; 
    overflow: hidden; 
  }
  .fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  